<h1 style="text-align: center;">Contact Information</h1>
<br />
<br />

<div class="container">
  <div class="row">
    <div class="col-sm-4 contact_info" style="background-color:rgb(245, 245, 240);">
      <img src="/assets/contact_logo.png" class = "img-fluid cont_logo" />
      <p class="contact_title">
      JR Landscaping
      </p>
      <br />
      <p>My name is Junior Lara, Proud owner of JR Landscaping. I am a service oriented individual wanting to take care of the hard work so you don't have to. So sit back, give me a call, crack a cold one open(or pop open a bottle if that's your choice), and let me take care of your lawn.</p>
      <p><span>&#9742;</span> 111-222-3333</p>
      <p><span>&#9993;</span> jrlandscaping@gmail.com</p>
      <p><span>&#10097;</span> Bryan, Texas</p>
    </div>
    <div class="col-sm-8" style="background-color:rgb(245, 245, 240);">
      <img src="/assets/setup.jpg" class = "img-fluid setup_pic" />
    </div>
  </div>
</div>