@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.navbar {
  min-height: 50px;
}

.btn{
  border-radius: 0;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.frotsy h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  ext-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.navbar-brand {
  height: 20px;
  width: 20px;
}

.nav-link {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

.nav-link a {
  font-family: 'Oswald', sans-serif;
}

.hero {
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img{
  max-height: 550px;
  width: 100%;
}

.carousel-item.active, 
.carousel-item-next, 
.carousel-item-prev {
  display: block;
}

.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.title_services{
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

.services_done {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.pic {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
